/*Created By : Vipin Yadav */
.margin-right{
	margin-right: 10px;
}
.custom-card{
	width: 100%;
	margin:auto;
}
.w3-row{
	padding-left: 16px;
}
.total-price{
	font-size: x-large;
}
/*Created By : Vipin Yadav */